!Assay
seqspec_version: 0.3.1
assay_id: "{{ assay_id }}"
name: DC-Tap-Seq
doi: null
date: null
description: single-cell crispr screen and rna-seq using DC-Tap-Seq
modalities:
 - crispr
lib_struct: "{{ library_structure }}"
library_protocol: "{{ library_protocol }}"
library_kit: "{{ library_kit }}"
sequence_protocol: "{{ sequencing_protocol }}"
sequence_kit: "{{ sequencing_kit }}"

sequence_spec:
- !Read
  read_id: "{{ read1_id }}"
  name: "{{ read1_name }}"
  modality: crispr
  primer_id: crispr-nextera_read1 # This is the key that will be used in the library_spec
  min_len: 28
  max_len: 28
  strand: pos
  files:
  - !File
    file_id: "{{ read1_name }}"
    filename: "{{ read1_id }}"
    filetype: fastq.gz
    filesize: {{ read1_size }}
    url: "{{ read1_url  }}"
    urltype: "{{ read1_urltype }}"
    md5: "{{ read1_md5 }}"
- !Read
  read_id: "{{ read2_id }}"
  name: "{{ read2_name }}"
  modality: crispr
  primer_id: crispr-truseq_read2 # This is the key that will be used in the library_spec
  min_len: 90
  max_len: 90
  strand: neg
  files:
  - !File
    file_id: "{{ read2_name }}"
    filename: "{{ read2_id }}"
    filetype: fastq.gz
    filesize: {{ read2_size }}
    url: "{{ read2_url  }}"
    urltype: "{{ read2_urltype }}"
    md5: "{{ read2_md5 }}"
library_spec:
- !Region
  region_id: crispr
  region_type: crispr
  name: crispr
  sequence_type: joined
  sequence: TCGTCGGCAGCGTCAGATGTGTATAAGAGACAGNNNNNNNNNNNNNNNNXXXXXXXXXXXXTTGCTAGGACCGGCCTTAAAGCGGCCAAGTTGATAACGGACTAGCCTTATTTAAACTTGCTATGCTGTTTCCAGCTTAGCTCTTAAACNNNNNNNNNNNNNNNNNNNNCCCATGTACTCTGCGTTGATACCACTGCTTAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC
  min_len: 233
  max_len: 233
  onlist: null
  regions:
  - !Region
    region_id: crispr-nextera_read1
    region_type: nextera_read1
    name: crispr-nextera_read1
    sequence_type: fixed
    sequence: TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG 
    min_len: 33
    max_len: 33
    onlist: null
    regions: null
    parent_id: crispr
  - !Region
    region_id: cell_barcode
    region_type: barcode
    name: cell_barcode
    sequence_type: onlist
    sequence: NNNNNNNNNNNNNNNN
    min_len: 16
    max_len: 16
    onlist: !Onlist
      file_id: "{{ cell_barcode_file_id}}"
      filename: "{{ cell_barcode_file_name }}"
      filetype: "{{ cell_barcode_file_type }}"
      filesize: {{ cell_barcode_file_size }}
      url: "{{ cell_barcode_file_url }}"
      urltype: "{{ cell_barcode_file_urltype }}"
      md5: "{{ cell_barcode_file_md5 }}"
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-umi
    region_type: umi
    name: crispr-umi
    sequence_type: random
    sequence: XXXXXXXXXXXX
    min_len: 12
    max_len: 12
    onlist: null
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-guide_capture_sequence
    region_type: custom_primer
    name: crispr-guide_capture_sequence
    sequence_type: fixed
    sequence: TTGCTAGGACCGGCCTTAAAGC 
    min_len: 22
    max_len: 22
    onlist: null
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-guide_scaffold
    region_type: linker
    name: crispr-guide_scaffold
    sequence_type: fixed
    sequence: GGCCAAGTTGATAACGGACTAGCCTTATTTAAACTTGCTATGCTGTTTCCAGCTTAGCTCTTAAAC 
    min_len: 66
    max_len: 66
    onlist: null
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-guide_target
    region_type: crispr
    name: crispr-guide_target
    sequence_type: onlist
    sequence: NNNNNNNNNNNNNNNNNNNN 
    min_len: 20
    max_len: 20
    onlist: !Onlist
        file_id: "{{ crispr_guides_file_id}}"
        filename: "{{ crispr_guides_file_name }}"
        filetype: "{{ crispr_guides_file_type }}"
        filesize: {{ crispr_guides_file_size }}
        url: "{{ crispr_guides_file_url }}"
        urltype: "{{ crispr_guides_file_urltype }}"
        md5: "{{ crispr_guides_file_md5 }}"
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-tso
    region_type: linker
    name: crispr-tso
    sequence_type: fixed
    sequence: CCCATGTACTCTGCGTTGATACCACTGCTT 
    min_len: 30
    max_len: 30
    onlist: null
    regions: null
    parent_id: crispr
  - !Region
    region_id: crispr-truseq_read2
    region_type: truseq_read2
    name: crispr-truseq_read2
    sequence_type: fixed
    sequence: AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC
    min_len: 34
    max_len: 34
    onlist: null
    regions: null
    parent_id: crispr